<div class="page-title">
	<i class="fa fa-unlock-alt"></i>
	<h3>Change Password</h3>
</div>

<div class="row-fluid">
    <div class="span12">
      <div class="grid simple ">
        <div class="grid-title">
         	<h4>
          		Change your account's <span class="semi-bold">password</span>
          	</h4>
          	<div class="tools"> <a href="javascript:;" class="reload"></a></div>
        </div>
        <div class="grid-body ">
        	<div class="row">
	            <div class="col-md-8 col-sm-8 col-xs-8">
		            <div class="form-group">
		                <label class="form-label">Old  Password</label>
		                <div class="controls">
		                	<input type="password" id="passO" class="form-control">
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="form-label">New Password</label>
		                <span class="help" style="color:rgba(255, 0, 0, 0.6);">Note : password should more than 3 character</span>
		                <div class="controls">
		                  	<input type="password" id="passN" class="form-control">
		                </div>
		            </div>
		            <div class="form-group">
		                <label class="form-label">Re-enter New Password</label>
		                <div class="controls">
		                  <input type="password" id="passNR" class="form-control">
		                </div>
		            </div>
		            <div class="form-group">
		                <div class="controls" style="text-align: right;">
		                	<button type="button" id="save" class="btn btn-success btn-cons">Save</button>
		                	<button type="button" id="reset" class="btn btn-danger btn-cons">Reset</button>
		                </div>
		            </div>
		        </div>
	        </div>
        </div>
      </div>
    </div>
</div>

<script type="text/javascript">
window.onload = function(){

	$("#save").live("click",function(){
		var passO = $("#passO").val()
		var passN = $("#passN").val()
		var passNR = $("#passNR").val()

		if(passO=="" || passO ==null){
			showErrorMessage("Please enter old password!");
			$("#passO").focus();
			return false
		}
		if(passN=="" || passN ==null){
			showErrorMessage("Please enter new password!");
			$("#passN").focus();
			return false
		}
		
		if(passN.length < 4 ){
			showErrorMessage("Password must be more than 3 character!");
			$("#passN").focus();
			return false
		}
		if(passN!=passNR){
			showErrorMessage("Password does not match");
			$("#passNR").focus();
			return false
		}

		
		$(".nModal").hide();
		$("#loadAjaxSession").show()
		$("#aLoading").html("Saving...")

		$("#newSession").modal("show")

		$.ajax({
		  	url: "/change-password.html",
		  	type: "post",
	        data: {
	            oldP: passO,
	            newP: passN
	        },
	        headers: {
	            'X-CSRF-Token': '<%= form_authenticity_token.to_s %>'
	        },
		}).success(function(data) {
			if(data.status == "success"){
		    	showSuccess(data.msg)
		    	$("#passO").val("")
				$("#passN").val("")
				$("#passNR").val("")
			}
		    else{
		    	if(data.status == "error-p"){
		 	    	$("#passO").focus()
		 	    }
				showErrorMessage(data.msg);
		    }

		    $("#newSession").modal("hide")

		}).error(function(){
			//$(".nModal").show()
			//$("#loadAjaxSession").hide()
			$("#newSession").modal("hide")
			showErrorMessage("Something went wrong!\nPlease try again later");
		});
	})

	$("#reset").live("click",function(){
		$("#passO").val("")
		$("#passN").val("")
		$("#passNR").val("")

	})


}
</script>