<div class="p-t-20 p-l-40 p-r-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-r-10 xs-p-b-10" > 
  	<h2 class="normal" style="font-size:29px;">Global Economic Symposium 2014 Attendance System</h2>
</div>
<!--
<div style="background:#ddd;">
	<img class="p-b-0 " src="/assets/hand1.png" style="height:250px;" />
  	<img class="p-t-0 " src="/assets/reader1.png" style="height:250px;" />	
</div>
-->

<!--
	#################################
		- THEMEPUNCH BANNER -
	#################################
-->
<div class="tp-banner-container" style="width:100%;">
	<div class="tp-banner" >
		<ul>
			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="3" data-masterspeed="700" >
				<!-- MAIN IMAGE -->
				<img src="/assets/slider/office.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->
				<!-- LAYER NR. 1 -->
				<div class="tp-caption sfr slider tp-resizeme slider"
					data-x="700"
					data-hoffset="0"
					data-y="-15"
					data-speed="800"
					data-start="1000"
					data-easing="Power4.easeOut"
					data-endspeed="300"
					data-endeasing="Power1.easeIn"
					data-captionhidden="off"
					style="z-index: 6">
					<img src="/assets/slider/reader1.png" style="height:400px;" />
				</div>

				<div class="tp-caption sfl slider tp-resizeme slider"
					data-x="550"
					data-hoffset="0"
					data-y="150"
					data-speed="800"
					data-start="2000"
					data-easing="Power4.easeOut"
					data-endspeed="300"
					data-endeasing="Power1.easeIn"
					data-captionhidden="off"
					style="z-index: 7">
					<img src="/assets/slider/hand1.png" style="height:400px;" />
				</div>

				<div class="tp-caption slider tp-resizeme slider"
					data-x="700"
					data-hoffset="0"
					data-y="-15"
					data-speed="800"
					data-start="2300"
					data-easing="Power4.easeOut"
					data-endspeed="300"
					data-endeasing="Power1.easeIn"
					data-captionhidden="off"
					style="z-index: 6">
					<img src="/assets/slider/reader2.png" style="height:400px;" />
				</div>

				<div class="tp-caption sfr slider"
					data-x="85"
					data-y="100"
					data-speed="500"
					data-start="800"
					data-easing="Power4.easeOut"><span class="btn-large" style="z-index: 5;font-size:400%; color:#555; background-color:rgb(87, 255, 127); padding: 0px 5px;">GES 2014</span>
				</div>

				<div class="tp-caption sft slider" 
					data-x="200"
					data-y="140"
					data-speed="500"
					data-start="1200"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:350%; color:white; ">Attendance System</span>
				</div>

				<div class="tp-caption sfl slider"
					data-x="450"
					data-y="235"
					data-speed="500"
					data-start="2000"
					data-easing="Power4.easeOut"><span class="btn-large" style="z-index: 5;font-size:500%;color:white; background-color:rgb(246, 229, 30);padding: 0px 5px;">RFID</span>
				</div>

				<div class="tp-caption sft slider"
					data-x="330"
					data-y="180"
					data-speed="500"
					data-start="1600"
					data-easing="Power4.easeOut"><span style="z-index: 7;font-size:300%;color:#333;">Intergrated with</span>
				</div>

			</li>
			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="3" data-masterspeed="700" >
				<!-- MAIN IMAGE -->
				<img src="/assets/slider/people.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->
				<div class="tp-caption sft slider" 
					data-x="50"
					data-y="10"
					data-speed="500"
					data-start="1000"
					data-easing="Power4.easeOut"><img src="/assets/slider/ges.png" style="height:200px;z-index: 10" />
				</div>


				<div class="tp-caption sfl slider" 
					data-x="150"
					data-y="200"
					data-speed="500"
					data-start="1200"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:100%; color:white; padding: 0px 3px; background:rgb(255, 84, 84);">Organizer : </span>
					<img src="/assets/slider/kiel.png" style="height:150px;" />
				</div>

				<div class="tp-caption sfr slider" 
					data-x="200"
					data-y="350"
					data-speed="500"
					data-start="1400"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:100%; color:white; padding: 0px 3px; background:rgb(61, 196, 168);">Host :</span>
					<img src="/assets/slider/uitm.png" style="height:100px;" />
				</div>

				<div class="tp-caption sfb slider" 
					data-x="700"
					data-y="330"
					data-speed="500"
					data-start="1600"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:100%; color:black; padding: 0px 3px; background:rgb(250, 74, 152);">In Cooperation with : </span>
					<img src="/assets/slider/zbw.png" style="height:100px;" />
				</div>
				
			</li>

			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="3" data-masterspeed="700" >
				<!-- MAIN IMAGE -->
				<img src="/assets/slider/poweredby.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->
				<div class="tp-caption sfr slider" 
					data-x="80"
					data-y="300"
					data-speed="500"
					data-start="1000"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:300%; color:#fff; ">Powered By :</span>
				</div>

				<div class="tp-caption sfb slider" 
					data-x="350"
					data-y="280"
					data-speed="500"
					data-start="1200"
					data-easing="Power4.easeOut"><img src="/assets/slider/ubuntu.png"  alt="slidebg1" style="width:40%">
				</div>

				<div class="tp-caption sft slider" 
					data-x="370"
					data-y="20"
					data-speed="500"
					data-start="1500"
					data-easing="Power4.easeOut"><img src="/assets/slider/rfid.png"  alt="slidebg1" style="width:180%">
				</div>

				<div class="tp-caption sfr slider" 
					data-x="480"
					data-y="50"
					data-speed="500"
					data-start="1800"
					data-easing="Power4.easeOut"><img src="/assets/slider/mssql.png"  alt="slidebg1" style="width:80%">
				</div>

				<div class="tp-caption sfl slider" 
					data-x="200"
					data-y="50"
					data-speed="500"
					data-start="2100"
					data-easing="Power4.easeOut"><img src="/assets/slider/rails.png"  alt="slidebg1" style="width:180%">
				</div>

				<div class="tp-caption sfl slider" 
					data-x="680"
					data-y="250"
					data-speed="500"
					data-start="2400"
					data-easing="Power4.easeOut"><img src="/assets/slider/html5.png"  alt="slidebg1" style="width:30%">
				</div>

				<div class="tp-caption sfr slider" 
					data-x="920"
					data-y="247"
					data-speed="500"
					data-start="2700"
					data-easing="Power4.easeOut"><img src="/assets/slider/css3.png"  alt="slidebg1" style="width:58%">
				</div>

				<div class="tp-caption sfr slider" 
					data-x="700"
					data-y="40"
					data-speed="500"
					data-start="3000"
					data-easing="Power4.easeOut"><img src="/assets/slider/jquery.png"  alt="slidebg1" style="width:200%">
				</div>

				<div class="tp-caption sfb slider" 
					data-x="786"
					data-y="300"
					data-speed="500"
					data-start="3300"
					data-easing="Power4.easeOut"><img src="/assets/slider/nodejs.png"  alt="slidebg1" style="width:50%">
				</div>

				
			</li>
			
		</ul>
	</div>
</div>



<div class="tiles grey p-t-20 p-b-20 text-black">
	<form id="frm_login" class="animated fadeIn" method="post" action="login.html">    
        <div class="row form-row m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
	        <div class="col-md-6 col-sm-6 ">
	            <input name="username" id="username" type="text"  class="form-control" placeholder="Username">
	        </div>
	        <div class="col-md-6 col-sm-6">
	            <input name="password" id="password" type="password"  class="form-control" placeholder="Password">
	        </div>
        </div>
        <div class="row p-t-10 m-l-20 m-r-20 xs-m-l-10 xs-m-r-10">
			<div class="control-group  col-md-12" style="text-align:right">
				  	<input type="submit" class="btn btn-success btn-cons" id="login_toggle" value="Login" />			
			</div>
		</div>
	</form>

</div> 


<script type="text/javascript">
	window.onload = function(){
	   $('.tp-banner').revolution(
		{
			delay:5000,
			startwidth:1170,
			startheight:500,
			hideThumbs:10
		});
	}
</script>