<div class="p-t-20 p-l-40 p-r-40 p-b-20 xs-p-t-10 xs-p-l-10 xs-p-r-10 xs-p-b-10" > 
  	<h2 class="normal" style="font-size:29px;">Global Economic Symposium 2014</h2>
</div>

<!--
	#################################
		- THEMEPUNCH BANNER -
	#################################
-->
<div class="tp-banner-container" style="width:100%;">
	<div class="tp-banner" >
		<ul>
			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="3" data-masterspeed="700" >
				<!-- MAIN IMAGE -->
				<img src="/assets/slider/people.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->
				<div class="tp-caption sft slider" 
					data-x="50"
					data-y="10"
					data-speed="500"
					data-start="1000"
					data-easing="Power4.easeOut"><img src="/assets/slider/ges.png" style="height:200px;z-index: 10" />
				</div>


				<div class="tp-caption sfl slider" 
					data-x="150"
					data-y="200"
					data-speed="500"
					data-start="1200"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:100%; color:white; padding: 0px 3px; background:rgb(255, 84, 84);">Organizer : </span>
					<img src="/assets/slider/kiel.png" style="height:150px;" />
				</div>

				<div class="tp-caption sfr slider" 
					data-x="200"
					data-y="350"
					data-speed="500"
					data-start="1400"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:100%; color:white; padding: 0px 3px; background:rgb(61, 196, 168);">Host :</span>
					<img src="/assets/slider/uitm.png" style="height:100px;" />
				</div>

				<div class="tp-caption sfb slider" 
					data-x="700"
					data-y="330"
					data-speed="500"
					data-start="1600"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:100%; color:black; padding: 0px 3px; background:rgb(250, 74, 152);">In Cooperation with : </span>
					<img src="/assets/slider/zbw.png" style="height:100px;" />
				</div>
				
			</li>

			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="3" data-masterspeed="700" >
				<!-- MAIN IMAGE -->
				<img src="/assets/slider/kiel-institute.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->
				<div class="tp-caption sfr slider" 
					data-x="170"
					data-y="100"
					data-speed="500"
					data-start="1000"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:320%; color:white; padding: 0px 3px; background:rgb(255, 84, 84);">Organized by : </span>
				</div>

				<div class="tp-caption sft slider" 
					data-x="300"
					data-y="150"
					data-speed="500"
					data-start="1500"
					data-easing="Power4.easeOut"><img src="/assets/slider/kiel.png" style="height:250px;" />
				</div>		
			</li>
			
			<!-- SLIDE  -->
			<li data-transition="fade" data-slotamount="3" data-masterspeed="700" >
				<!-- MAIN IMAGE -->
				<img src="/assets/slider/uitm.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
				<!-- LAYERS -->
				<div class="tp-caption sfr slider" 
					data-x="170"
					data-y="100"
					data-speed="500"
					data-start="1000"
					data-easing="Power4.easeOut"><span style="z-index: 6;font-size:320%; color:white; padding: 0px 3px; background:rgb(61, 196, 168);">Hosted by : </span>
				</div>

				<div class="tp-caption sft slider" 
					data-x="300"
					data-y="150"
					data-speed="500"
					data-start="1500"
					data-easing="Power4.easeOut"><img src="/assets/slider/uitm.png" style="height:250px;" />
				</div>		
			</li>

		</ul>
	</div>
</div>



<div class="tiles grey p-t-20 p-b-20 text-black" style="text-align:center;margin:auto;">
	<a class="btn btn-info btn-cons" id="login_toggle" href="/resource-manager/">Resources Manager System</a>
	<a class="btn btn-info btn-cons" id="login_toggle" href="/validation.html" >Validation System</a>
</div> 

<script type="text/javascript">
window.onload = function(){
	$('.tp-banner').revolution({
		delay:5000,
		startwidth:1170,
		startheight:500,
		hideThumbs:10
	});
}
</script>