<% attendance? %>

<!DOCTYPE html>
<html>
<head>
  	<title>Attendance System</title>
  		<link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />

		<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta content="" name="description" />
		<meta content="" name="author" />

		<!-- BEGIN ONE LINK TO INCLUDE ALL CSS -->
		<link href="assets/application-attendance-css.css" rel="stylesheet" type="text/css"/>
		<!-- END ONE LINK TO INCLUDE ALL CSS -->

		<!-- BEGIN ONE LINK TO INCLUDE ALL CORE JS FRAMEWORK--> 
		<script src="assets/application-js.js" type="text/javascript"></script> 
		<!-- END ONE LINK TO INCLUDE ALL CORE JS FRAMEWORK --> 
		
		<!-- BEGIN CORE TEMPLATE JS --> 
		<script src="assets/core.js" type="text/javascript"></script> 
		<script src="assets/chat.js" type="text/javascript"></script> 
		<script src="assets/demo.js" type="text/javascript"></script> 
		<script src="assets/time-duration.js" type="text/javascript"></script> 
		<!-- END CORE TEMPLATE JS --> 


</head>
<body style="overflow:hidden;">
	<!-- BEGIN FLASH MESSAGE -->
	<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}",:style => "display:none" %>
    <% end %>
    <!-- END FLASH MESSAGE -->


	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-inverse"> 
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="navbar-inner">
			<!-- BEGIN NAVIGATION HEADER -->
			<div class="header-seperation"> 
				<!-- BEGIN LOGO -->	
				<a href="/">
					<img src="assets/logo.png" class="logo" alt="" data-src="assets/logo.png"  height="35"/>
				</a>
				<!-- END LOGO --> 
				<!-- BEGIN LOGO NAV BUTTONS -->
				<ul class="nav pull-right notifcation-center">	
					<li class="dropdown" id="header_task_bar">
						<a href="/logout.html" class="dropdown-toggle active" data-toggle="">
							<div class="fa fa-power-off"></div>
						</a>
					</li>			        
				</ul>
				<!-- END LOGO NAV BUTTONS -->
			</div>
			<!-- END NAVIGATION HEADER -->

		</div>
		<!-- END TOP NAVIGATION BAR --> 
	</div>
	<!-- END HEADER -->

	<!-- BEGIN CONTENT -->
	<div class="page-container row-fluid">
		<!-- BEGIN PAGE CONTAINER-->
		<div class="page-content"> 
			<div class="content" style="min-height:1000px;">  
				<!-- BEGIN PlACE PAGE CONTENT HERE -->
					<%= yield %>				
				<!-- END PLACE PAGE CONTENT HERE -->
			</div>
		</div>
		<!-- END PAGE CONTAINER -->
	</div>
	<!-- END CONTENT --> 
</body>
<script type="text/javascript">
$(document).ready(function() {	
	// flash message //
    if($("#flash_alert").html()!="" && $("#flash_alert").html()!=null){
        showErrorMessage($("#flash_alert").html());
    }
    else if($("#flash_notice").html()!="" && $("#flash_notice").html()!=null){
        showSuccess($("#flash_notice").html());
    }
});
</script>
</html>
